.blogcard {
	display: flex;
	height: 260px;
	width: 260px;

	border-radius: 10px;
	box-shadow: -1rem 0 3rem #000;
	/*   margin-left: -50px; */
	transition: 0.4s ease-out;

	left: 0px;
}

.blogcard:not(:first-child) {
	margin-left: -50px;
}

.blogcard:hover {
	transform: translateY(-60px);
	transition: 0.4s ease-out;
}

.blogcard:hover ~ .card {
	left: 50px;
	transition: 0.4s ease-out;
}

@media only screen and(max-width:600px) {
	.blogcard {
		display: flex;
		height: 150px;
		width: 260px;

		border-radius: 10px;
		box-shadow: -1rem 0 3rem #000;
		/*   margin-left: -50px; */
		transition: 0.4s ease-out;

		left: 0px;
	}
}
