body {
	font-family: "Open Sans", sans-serif;
	float: left;
}

.cont1 {
	height: 45rem;
	width: 95%;

	margin-bottom: 50px;
	padding-top: 30px;
	overflow: hidden;
}

.heading1 {
	font-size: 60px;
	font-weight: 500;
	padding-left: 20px;
}
@media only screen and (max-width: 600px) {
	.heading1 {
		font-size: 45px;
		color: black;
	}

	.cont1 {
		height: 49rem;
		width: 90vw;

		margin-bottom: 50px;
		padding-top: 30px;
		overflow: hidden;
		border: 2px solid whitesmoke;
		border-radius: 40px;
		box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
			-5px -5px 30px 7px rgba(0, 0, 0, 0.22);
	}
}
