.videos {
	height: 100vh;
	width: 94vw;
	display: flex;
	margin-left: 50px;

	margin-bottom: 20px;
	overflow: hidden;
}
.heading-row{
	display: flex;
	justify-content: space-between;
}

.headingVideos {
	font-size: 60px;
	font-weight: 500;
	margin-top: 50px;
	margin-left: 30px;
}
.seemore{
 margin-right: 70px;
 margin-top: 100px;
}
.seemore:hover{
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	.videos {
		height: 112vh;
		margin-left: 30px;
		width: 90vw;
		border: 2px solid whitesmoke;
		border-radius: 40px;
		box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
			-5px -5px 30px 7px rgba(0, 0, 0, 0.22);
	}
	.headingVideos {
		font-size: 45px;

		margin-top: 20px;
		margin-left: 30px;
	}
}
